<footer>
        <div class="footer">
            <div class="home-menu-footer">
                <div class="footer-info ">
                    <h1>Foodie's Delight</h1>
                    <p>Learn Ipsum is simply dummy text of the printing and typesetting industry.<br>
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkown
                        printer
                        took a galley of type and scrambled it to make a type specimen book.</p>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="footer-details">
                    <h3>COMPANY</h3>
                    <a href="/home-menu">Home</a><br>
                    <a href="/home-menu/about">About us</a><br>
                    <a href="#">Delivery</a><br>
                    <a href="#">Privacy policy</a>
                </div>
                <div class="footer-contact-details">
                    <h3>
                        GET IN TOUCH
                    </h3>
                    <a href="tel:1234567890">+1234567890</a>
                    <a href="mailto:bhumikamourya275@gmail.com">bhumikamourya275@gmail.com</a>
                </div>
            </div>
            <hr>
            <div class="location-setting app-last-line">
                <p>Copyright 2025 &copy;Foodie's Delight.com-All Right Reserved</p>
            </div>
        </div>
    </footer>