<header class="home-menu-head ">
    <h2>Foodie's delight</h2>
        <div class="home-menu-head-a hide">
            <button id="menu-close-button" class="fas fa-times"></button>
            <a href="/home-menu">home</a>
            <a href="/home-menu/#menu-section">menu</a>
            <a href="">mobile app</a>
            <a href="">contact us</a>
        </div>
        <div class="home-menu-head-icons">
            <form method="GET" action="/signup">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-bag-shopping"></i>
                <!-- <a href="https://localhost:8080/signup"> -->
                    <button class=" sign-in-btn btn btn-outline-danger">Sign-in</button>
                <!-- </a> -->
            </form>
        </div>
    <button id="menu-open-button" class="fas fa-bars"></button>
</header>
